body {
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #000
}
.page-header {
	background: #ddd;
	padding: 1em;
}
.page-header h1 {
	margin: 0;
}
.promo {
	border: 10px solid #000;
}
.page-footer {
	display: block;
}
.new {
	border: 4px dotted red;
}
.button {
	border: 1px solid #000;
	border-radius: 3px;
	background-color: yellow;
	color: white;
}